.form {
    max-width: 300px;
    margin: 0 auto !important;
}

.socialLogin {
    text-align: center;
    margin-bottom: 10px;
}

.signUp {
    text-align: center;
}

.loginButton {
    text-align: center;
}